<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.calendarapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="false"
        android:grantUriPermissions="true"
        android:icon="@mipmap/ic_icon"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        tools:replace="android:label,android:allowBackup"
        android:label="Caliiita"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activites.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activites.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.EventActivity" android:parentActivityName=".activites.MainActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.ButtonReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".activites.SubscribeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.AddEventActivity" android:theme="@style/ToolTheme" android:parentActivityName=".activites.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activites.SocShowActivity" android:screenOrientation="portrait"
            />
        <activity android:name=".activites.AboutUsActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>